@if (TempData["success"] != null)
{
    <br />
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @TempData["success"]
            </div>
}

@if (TempData["info"] != null)
{
    <br />
            <div class="alert alert-info">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Info!</strong> @TempData["info"]
            </div>
}

@if (TempData["warning"] != null)
{
    <br />
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> @TempData["warning"]
            </div>
}

@if (TempData["danger"] != null)
{
    <br />
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Danger!</strong> @TempData["danger"]
            </div>
}